<nav class="navbar navbar-full navbar-fixed-top navbar-dark bg-inverse">
	<h1 class="navbar-brand" style="font-weight:bold">Devotees Management</h1>
	<div class="nav navbar-nav float-xs-right">
		<a class="nav-item nav-link" (click)="upload()"><i class="fa fa-upload" aria-hidden="true"></i>Upload</a>
		<a class="nav-item nav-link" (click)="add()">Add Devotee</a>
		<a class="nav-item nav-link" (click)="logout()">Logout</a>
	</div>
</nav>
<div class="container-fluid">
	<div class="row flex-items-xs-center" style="margin-top:100px;">
		<div class="col-lg-6">
			<div class="input-group">
				<input [(ngModel)]="searchQuery" #query (keyup)="update(query.value)" type="text" class="form-control" placeholder="Search Devotee">
				<span class="input-group-btn">
					<button class="btn" type="button" (click)="search()">Search</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row flex-items-xs-right" style="margin-top:50px;margin-bottom:0px;padding-top:0px;padding-bottom:0px">
		<form role="form" class="form-inline">
			<div class="form-group" style="margin-right:20px">
				<label for="maximumResults" style="font-weight:bold">Maximum Results</label>
				<select [(ngModel)]="maximumResults" (change)="currentPageNo=1;search()" class="form-control" id="maximumResults" name="maximumResults">
					<option selected>10</option>
					<option>20</option>
					<option>50</option>
					<option>100</option>
					<option>200</option>
				</select>
			</div>
			<div class="form-group" style="margin-right:20px">
				<div class="input-group" data-toggle="dropdown">
					<label for="filterColumns" data-toggle="dropdown" style="font-weight:bold;cursor:pointer;">Columns</label>
					<i style="cursor:pointer;font-size: 25px;margin-left: 10px;vertical-align: middle;" class="fa fa-caret-square-o-down" data-toggle="dropdown" aria-hidden="true" id="filterColumns"></i>
					<ul role="menu" class="dropdown-menu" (click)="$event.stopPropagation()">
						<li>
							<input type="checkbox" name="column" [checked]="cSerialNumber" (change)="cSerialNumber=!cSerialNumber">
							<span class="lbl">Serial Number</span>
						</li>
						<li *ngFor="let column of columnsList">
							<input type="checkbox" name="{{column.id}}" [checked]="column.isSelected" (change)="column.isSelected=!column.isSelected">
							<span class="lbl">{{column.name}}</span>
						</li>
						<li>
							<input type="checkbox" name="column" [checked]="cActions" (change)="cActions=!cActions">
							<span class="lbl">Actions</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group" style="margin-right:20px">
				<div class="input-group">
					<label for="download" (click)="download()" data-toggle="dropdown" style="cursor:pointer;font-weight:bold;">Download</label>
					<i (click)="download()" style="cursor:pointer;font-size: 25px;margin-left: 10px;vertical-align: middle;" class="fa fa-download" aria-hidden="true " id="download "></i>
				</div>
			</div>
		</form>
	</div>
	<div class="row" style="margin-top:25px;">
		<div class="col-lg-12">
			<div style="text-align:center;font-weight:bold;color:#ff5722;margin-top:50px;" [hidden]="devoteesList != undefined && devoteesList.length != 0">No Data Available</div>
			<table class="table table-hover table-sm" [hidden]="devoteesList == undefined || devoteesList.length == 0">
				<thead class="thead-inverse">
					<tr>
						<th [hidden]="!cSerialNumber">#</th>
						<th *ngFor="let column of columnsList" [hidden]="!column.isSelected" (click)="updateSortOrder(column.id)" style="cursor:pointer">{{column.name}}</th>
						<th [hidden]="!cActions"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let devotee of devoteesList; let i = index">
						<td [hidden]="!cSerialNumber" scope="row">{{(currentPageNo - 1) * maximumResults + i + 1}}.</td>
						<td *ngFor="let column of columnsList" [hidden]="!column.isSelected">{{devotee[column.id]}}</td>
						<td [hidden]="!cActions" style="text-align:right;">
							<button (click)="edit(devotee)" type="button" style="padding: 4px 8px;width:65px;" class="btn btn-info">Edit</button>
							<button (click)="delete(devotee.id)" type="button" style="margin-left:10px;padding: 4px 8px;width:65px;" class="btn btn-danger">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-12" style="text-align:center" [hidden]="devoteesList == undefined || devoteesList.length == 0">
			<ngb-pagination [collectionSize]="totalResults" [boundaryLinks]="true" [directionLinks]="true" [maxSize]="10" [page]="currentPageNo" [pageSize]="maximumResults" (pageChange)="search($event)"></ngb-pagination>
		</div>
	</div>
</div>
<template ngbModalContainer></template>
<ng2-toasty [position]="'bottom-center'"></ng2-toasty>