<h4 class="modal-title" md-dialog-title>
	Upload Excel Sheet
	<button type="button" class="close" aria-label="Close" md-dialog-close>
		<span aria-hidden="true">&times;</span>
	</button>
</h4>
<div class="modal-body">
	<form [hidden]="showProgress" class="form-horizontal">
		<fieldset>
			<div class="form-group row">
				<div class="col-md-7" style="margin:0 auto;text-align:center">
					<input name="file" md-button tabindex="1" (change)="onChange($event)" type="file" class="form-control input-md" required="">
				</div>
			</div>
		</fieldset>
	</form>
	<p [hidden]="showProgress"><b>NOTE : </b>First row (line) must contain column names. Valid column names are <i>Name</i>, <i>Mobile Number</i>, <i>Email</i>, <i>Date of Birth</i>, <i>Father's Name</i>, <i>Emergency Number</i>, <i>Bace Join Date</i>, <i>Bace Left Date</i> and <i>Current Address</i>.</p>
	<p style="text-align:center;font-weight:bold;color:#00C853" [hidden]="!showProgress">Please Wait ...</p>
</div>
<div [hidden]="showProgress" class="modal-footer">
	<button md-button color="primary" (click)="upload()">Upload</button>
	<button md-button color="warn" md-dialog-close>Cancel</button>
</div>