<div class="modal-header">
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">Upload Excel Sheet</h4>
</div>
<div class="modal-body">
	<p><b>NOTE : </b>First row must contain column names and valid columns are "Name", "Mobile Number", "Email", "Date of Birth", "Father's Name", "Emergency Number", "Bace Join Date", "Bace Left Date" and "Current Address".
	<form class="form-horizontal">
		<fieldset>
			<div class="form-group row">
				<label class="col-md-4 control-label" for="name">Name</label>
				<div class="col-md-7">
					<input type="file" (change)="onChange($event)" class="form-control input-md" required="">
				</div>
			</div>
		</fieldset>
	</form>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-success" (click)="activeModal.close('save')">Upload</button>
	<button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>